<div class="listingcomment">
    <div class="leavecomment">
        <h3>Rate us and Write a Review</h3>
        <form method="POST" enctype="multipart/form-data">
            <input placeholder="Title" type="text">
            <textarea placeholder="Review"></textarea>
            <div class="fieldformy">
            <span>Add Images</span>
            <input type="file" name="image_1">
            <input type="file" name="image_2">
            <input type="file" name="image_3">
            </div>
            <div class="fieldformy">
            <input value="Submit Review" type="submit">
            </div>
        </form>
    </div>
</div>
