<div class="listingcomment">
    <div class="leavecomment">
        <h3>Rate us and Write a Review</h3>
        <form method="POST" enctype="multipart/form-data" action="{% url 'review:save_review' %}">
            <div id="review_status" style="color:green"></div>
            {% csrf_token %}
            <input type="hidden" id="business_slug" value="{{ request.resolver_match.kwargs.slug }}">
            <input placeholder="Title" type="text" id="experience" required>
            <textarea placeholder="Review" id="comment"></textarea>
            <div class="fieldformy">
                <span>Add Images</span>
                <input type="file" id="image_1">
                <input type="file" id="image_2">
                <input type="file" id="image_3">
            </div>
            <div class="fieldformy">
                <span>Rate the following(1=bad,5=Excellent)</span>
                <div class="fieldformy">
                    <div class="row">
                        <div class="col-md-3">
                         <span>Security
                <select id="security" class="cdropshere">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        <div class="col-md-3">
                          <span>Music
                <select id="music" class="cdropshere">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        <div class="col-md-3">
                          <span>Pricing
                <select class="cdropshere" id="pricing">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        <div class="col-md-3">
                          <span>Amenities
                <select id="amenities" class="cdropshere">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-3">
                         <span>Food
                <select class="cdropshere" id="food">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        <div class="col-md-3">
                          <span>Service
                <select class="cdropshere" id="service">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        <div class="col-md-3">
                          <span>Parking
                <select class="cdropshere" id="parking">
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </span>
                        </div>
                        </div>
                    </div>

                    <div class="fieldformy">
                        <input id='btn_review' value="Submit Review" type="submit">
                    </div>
            </div>

        </form>
    </div>
</div>
