;; gitignore for Django using pyCharm
;;

;;files to ignore
.env
.venv

;;extensions to ignore
*.log
*.pot
*.pyc
*.pid

;;directories to ignore
.idea/
venv/
env/

__pycache__/*

# IDE Settings
.vscode
