{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sl-slider" id="makeslider">
                            {% for img in slideshow %}
                                <div class="slg-box"><img src="{{ img.image.url }}" alt=""/></div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slhead">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="sltitle">
                                        <h1>{{ object.name|capfirst }}</h1>
                                        <ul class="listmetas">
                                            {% for genre in object.genre.all %}
                                                <li><a href="#" title=""><i
                                                        class="flaticon-chef"></i> {{ genre|capfirst }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="listmetas">
                                            <li>
                                                <span>Tickets Available:<i>{{ object.num_of_tickets }}</i></span>
                                            </li>
                                            {% if object.get_price %}
                                                <li>
                                                    <div class="currency">
                                                        <span>Ticket Price:<del>Ksh{{ object.old_price }}</del>Ksh{{ object.new_price }}</span>
                                                        {% else %}
                                                        <span>Ksh{{ object.old_price }}</span></div>
                                                </li>

                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="slbtnsspans">
                                        <span><i class="flaticon-pin"></i>{{ object.get_address }}</span>
                                        <input type="hidden" id="addr_latitude" value="{{ object.get_latitude }}"/>
                                        <input type="hidden" id="addr_longtitude" value="{{ object.get_longitude }}"/>

                                        <span><i class="flaticon-phone-call"></i>{{ object.get_phone_number }}</span>
                                        <div class="slbtns">
                                            <div class="sharelisting">
                                                <a href="#" title=""><i class="flaticon-share"></i>Share</a>
                                                <div class="sharebtns">
                                                    {% for social in event_social %}
                                                        <a href="{{ social.url }}" title=""><i
                                                                class="fa fa-{{ social.social.icon }}"></i></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {#                                            <a onclick="add_review()" title=""><i class="flaticon-note"></i>Add review</a>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 column">
                        <div class="bbox">
                            <h3>Description</h3>
                            <div class="ldesc">
                                <p>{{ object.description }}</p>
                            </div>
                        </div>
                        <div class="bbox">
                            <h3>Amenities</h3>
                            <div class="amenties">
                                {% for amenities in event_amenities %}
                                    <span><i
                                            class="flaticon-{{ amenities.service.icon }}"></i>{{ amenities.service.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bbox" id="disqus">
                            <div id="disqus_thread"></div>

                        </div>
                        <div class="bbox">
                            <h3>Gallery</h3>
                            <ul class="gallerylistin">
                                {% for img in gallery %}
                                    <li><img src="{{ img.image.url }}" alt=""/></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 column">
                        <div class="openclosetiming">
                            <h3>Organizers</h3>
                            {% for organizer in object.business.all %}
                                <span style="font-size: 20px">{{ organizer.name|capfirst }}</span>
                            {% endfor %}
                        </div>
                        {% if object.guest.count %}
                            <div class="openclosetiming">
                                <h3>Featured Guests</h3>
                                {% for guest in object.guest.all %}
                                    <span style="font-size: 20px">{{ guest.first_name }}{{ guest.last_name }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="openclosetiming">
                            <h3>Date</h3>
                            <span>{{ object.get_date }}</span>
                        </div>
                        <div class="blocation">
                            <h3>Location <a href="#" title="">Get Direction</a></h3>
                            <div class="contact-map">
                                <div id="map">&nbsp;</div>
                            </div>
                            <span>{{ object.get_address }}</span>
                            <span>{{ object.get_phone_number }}</span>
                            <span>{{ object.email }}</span>
                            <div class="wsocial">
                                {% for social in business_social %}
                                    <a href="{{ social.url }}" title=""><i
                                            class="fa fa-{{ social.social.icon }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cbusiness">
                            <h3>Contact Organizer</h3>
                            <form>
                                <label>Your Name *</label>
                                <input type="text" placeholder="Ali TUF..."/>
                                <label>Your Email Address*</label>
                                <input type="text" placeholder="demo@demo.com"/>
                                <label>Your Message</label>
                                <textarea placeholder="demo@demo.com"></textarea>
                                <button type="submit">Send Message</button>
                            </form>
                        </div>
                        <div class="cad">
                            <div class="ad"><img src="http://placehold.it/360x220" alt=""/></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <script type="text/javascript">
     function initMap() {
            const address = {lat: {{ object.get_latitude }}, lng: {{ object.get_longitude }}};
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: address,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: address,
                map: map,
            });
        }
        var disqus_config = function () {
            this.page.url = '{{ request.build_absolute_uri }}.html'
            console.log('kkdkd', this.page.url);
            this.page.identifier = '{{ request.build_absolute_uri }}.html'
            this.page.title = '{{ object.name }}' + '_title';
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://mubango-disqus-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();


    </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC0wYfBETVlXyjOqv0WtV6kTvQ-LUi3yU&callback=initMap&callback=initMap"></script>

{% endblock content %}
