{% load static %}
<div class="responsiveheader">
    <div class="rheader">
        <span><img src="{% static 'images/ricon.png' %}" alt=""/></span>
        <div class="logo">
            <a href="#" title=""><img src="http://placehold.it/164x37" alt=""/></a>
        </div>
        <div class="extras">
            <span class="accountbtn"><i class="flaticon-avatar"></i></span>
        </div>
    </div>
    <div class="rnaver">
        <span class="closeresmenu"><i>x</i>Close</span>
        <div class="logo"><a href="#" title=""><img src="http://placehold.it/175x40" alt=""/></a></div>
        <div class="extras">
        </div>
        <ul>
            <li class="menu-item-has-children">
                <a href="{% url 'core:home' %}" title="">Home</a>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'business:get_all_clubs' state=user_state %}" title="">Clubs</a>
                <ul>
                    <li><a href="{% url 'business:get_all_clubs' state=user_state %}" title="">View Clubs</a></li>

                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'event:get_all_events' state=user_state %}" title="">Events</a>
                <ul>
                    <li><a href="{% url 'event:get_all_events' state=user_state %}" title="">View Events</a></li>

                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="" title="">Offers</a>
                <ul>
                    <li><a href="user-dashboard.html" title="">View Offers</a></li>

                </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="menu-item-has-children">
                    <a href="#" title="">Account</a>
                    <ul>
                        <li><a href="{% url 'account:profile_detail' profile_id %}" title="">Profile</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li class="menu-item-has-children">
                    <a href="/mb/admin/">Admin</a>
                </li>
            {% endif %}

        </ul>
    </div>
</div><!-- Responsive header -->

<header class="sticktop">
    <div class="logo">
        <a href="#" title=""><img src="http://placehold.it/164x37" alt=""/></a>
    </div>
    <div class="extras">
        {#			<a href="add-listing.html" title=""><img src="{% static 'images/ricon.png' %}" alt="" /> Add Listing</a>#}
        <span class="accountbtn"><i class="flaticon-avatar"></i></span>
    </div>
    <nav>
        <ul>
            <li class="menu-item-has-children">
                <a href="{% url 'core:home' %}" title="">Home</a>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'business:get_all_clubs' state=user_state %}" title="">Clubs</a>
                <ul>
                    <li><a href="{% url 'business:get_all_clubs' state=user_state %}" title="">View Clubs</a></li>

                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'event:get_all_events' state=user_state %}" title="">Events</a>
                <ul>
                    <li><a href="{% url 'event:get_all_events' state=user_state %}" title="">View Events</a></li>

                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="" title="">Offers</a>
                <ul>
                    <li><a href="user-dashboard.html" title="">View Offers</a></li>

                </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="menu-item-has-children">
                    <a href="#" title="">Account</a>
                    <ul>
                        <li><a href="{% url 'account:profile_detail' profile_id %}" title="">Profile</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li class="menu-item-has-children">
                    <a href="/mb/admin/">Admin</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</header>
