{% load static %}
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dropdown.js' %}" type="text/javascript"></script>
<script src="{% static 'js/isotop.js' %}" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC0wYfBETVlXyjOqv0WtV6kTvQ-LUi3yU&callback=initMap&libraries=&v=weekly" defer></script>
<script src="{% static 'js/custom_script.js' %}" type="text/javascript"></script>
