<section>
    <div class="block gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Featured Clubs in your Area</h2>
                        <span>What do you need to find?</span>
                    </div><!-- Heading -->
                    <div class="catsec">
                        <div class="row" id="masonry">
                            {% for obj in clubs_featured %}
                                <div class="col-lg-4">
                                    <div class="category">
                                        <img src="{{ obj.get_thumbnail }}" alt=""/>
                                        <div class="cattitle">
                                            <h3><a href="{{ obj.get_absolute_url }}" title="">{{ obj.name }}</a></h3>
                                            <span>{{ obj.rating }}</span>
                                        </div>
                                        <i class="flaticon-hotel color3"></i>
                                    </div><!-- Category -->
                                </div>
                            {% endfor %}
                        </div>
                    </div><!-- Cat Sec -->
                </div>
            </div>
        </div>
    </div>
</section>
