{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="block remove-bottom double-gap-top">
            <div class="layer blackish">
                <div data-velocity="-.1"
                     style="background: url(http://placehold.it/1920x850) repeat scroll 50% 422.28px transparent;"
                     class="no-parallax parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="iamusersec">
                                <div class="iamuser">
                                    <div class="userimg"><img src="{{ object.image.url }}" alt=""/>
                                    </div>
                                    <div class="userinfos">
                                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menubarsec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" title=""><i class="flaticon-heart"></i>Favorites</a>
                        <a href="#" title=""><i class="flaticon-thumb-up"></i>Reviews</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="dashboradsec">
                            <h3>Profile</h3>
                            <div class="profileimageaction">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="changeimg">
                                            <h3>Change Avatar</h3>
                                            <div class="uploadimage">
                                                <img src="{{ object.image.url }}" alt=""/>
                                                <a href="#" title="">Cancel</a>
                                            </div>
                                            <div class="jstinput"><a href="#" title=""
                                                                     class="browsephoto">Browse</a><input type="file"/>
                                            </div>
                                            <p>Max file size is 1MB, Minimum dimension: <br>270x210 And Suitable</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbox">
                                <div class="addlistingform">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="uploadimage fieldformy">
                                                    <img  src="{{ object.image.url }}" alt=""/>
                                                    <a href="#" title=""></a>

                                                    <div class="jstinput"><a href="#" title=""
                                                                             class="browsephoto">Browse</a>
                                                        <input id="profile_image"  type="file"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4">
                                                <p id="profile_response" style="color: green"></p>
                                                <div class="fieldformy">
                                                    <span>First Name</span>
                                                    <input type="hidden" value="{{ object.profile_id }}"
                                                           id="profile_id">
                                                    <input name="profile_first_name" id="profile_first_name" type="text"
                                                           value="{{ object.user.first_name }}">
                                                </div>
                                                <div class="fieldformy">
                                                    <span>Address</span>
                                                    <input id="profile_address" type="text"
                                                           value="{{ object.get_address }}">
                                                </div>
                                                <div class="fieldformy">
                                                    <span>Phone</span>
                                                    <input id="profile_phone" type="text"
                                                           value="{{ object.phone_number }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="fieldformy">
                                                    <span>Last Name</span>
                                                    <input id="profile_last_name" type="text"
                                                           value="{{ object.user.last_name }}">
                                                </div>
                                                <div class="fieldformy">
                                                    <span>Email </span>
                                                    <input id="profile_email" type="text"
                                                           value="{{ object.user.email }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="formaction">
                                                    <button id="update_profile" title="" class="updatebtn">Update
                                                    </button>
                                                    <a href="#" title="" class="cancelbtn">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="pbox">
                                <h3>Change Password</h3>
                                <div class="addlistingform">
                                    <form>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p id="password_response" style="color: green"></p>

                                                <div class="fieldformy">
                                                    <span>Current</span>
                                                    <input type="text" id="current_password">
                                                </div>
                                                <div class="fieldformy">
                                                    <span>New Password</span>
                                                    <input type="password" id="new_password">
                                                </div>
                                                <div class="fieldformy">
                                                    <span>Confirm New Password</span>
                                                    <input type="password" id="confirm_new_password">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="formaction">
                                                    <button id="update_password" title="" class="updatebtn">Update
                                                    </button>
                                                    <a href="#" title="" class="cancelbtn">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
